<div class="container">
  <div class="col-md-12">
    <div class="col-md-4">
    <%= render 'shared/backpage/back_to_index' %>
    </div>
    <div class="col-md-4">
    <%= render 'shared/backpage/back_to_userpage' %>
    </div>
  </div>
</div>
<div class="row basic_info_new">
<div class="row">
  <div class="container">
  <%= render 'shared/title', title: 'Create 基本資料'%>
    <div class="well col-md-12">
    <%# 新增 基本資料頁面 %>
    <%= render 'shared/create_edit_delete/basic_information' %>
    </div>
  </div>
</div>