<div class="container">
<%= render 'shared/title', title: '註冊新會員'%>
</div>
<div class="container">
<%= render 'shared/registered'%>
</div>
<div class="container">
  <%= render 'shared/backpage/back_to_index'%>
</div>
