<nav class="navbar-default user_index_nav">
  <div class="user_show">
  <div class="row">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
          <i class="icon-bar"></i>
          <i class="icon-bar"></i>
          <i class="icon-bar"></i>
        </button><%= link_to "Rudy On Rails", user_path(@user) %></div>
      <div id="navbar1" class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <li>
          <%= link1 %>
          </li>
          <li>
          <%= link2 %>
          </li>
          <li>
          <%= link3 %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</nav>