<header>
  <div class="container">
    <img src="/assets/profile.png" alt="">
    <div class="intro-text">
      <span class="name">個人履歷表</span>
      <hr class="star-light">
      <span class="skills">個人資料 - 技能 - 作品 - 自傳</span>
    </div>
  </div>
</header>