		<section id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>技能</h2>
					<hr class="star-light">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<a href="#portfolioModal1" class="portfolio-link" data-toggle="modal" onclick='javascript:myfun()'>
						<div class="caption1">
							<div class="pic">前端
								<span class="glyphicon glyphicon-zoom-in"></span>
							</div>
						</div>
						<img  src="/assets/html5-1024x576.jpg" class="img-responsive" alt="">
					</a>
				</div>
				<div class="col-sm-4">
					<a href="#portfolioModal2" class="portfolio-link" data-toggle="modal" onclick="javascript:myfun();">
						<div class="caption2">
							<div class="pic">後端
								<span class="glyphicon glyphicon-zoom-in"></span>
							</div>
						</div>
						<img  src="/assets/01.jpg" class="img-responsive" alt="">
					</a>
				</div>
				<div class="col-sm-4">
					<a href="#portfolioModal3" class="portfolio-link" data-toggle="modal" onclick="javascript:myfun();">
						<div class="caption3">
							<div class="pic">資料庫
								<span class="glyphicon glyphicon-zoom-in"></span>
							</div>
						</div>
						<img  src="/assets/DB.png" class="img-responsive" alt="">
					</a>
				</div>
			</div>
		</div>
	</section>