/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.glyphicon.glyphicon-user {
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

h3 {
  font-weight: bold;
}

//首頁 大圖
.jumbotron {
  height: 1000px;
  background-image: url(rubyonrails_1024.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container h1 {
  color: yellow;
  font-size: 60px;
  font-weight: bold;
}

.jumbotron p {
  font-size: 25px;
  color: white;
}
//首頁 最下面黑色的div
.index {
  height: 35px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.user_index_nav {
  background-color: black;
  height: 35px;
}

.user_index_nav a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}
.nav li {
  display: inline;
}

ul li {
  display: inline;
}
//ul 底下a hover(滑鼠移過去時)
ul a:hover {
  color: darkgray;
  text-decoration: none;
}
//返回首頁a
.backtoindex a {
  font-family: Arial, serif, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.backtoindex a:hover {
  text-decoration: none;
  color: darkgray;
}